/* app css stylesheet */
body{
  color: #ffffff;
  background-color: #982222;
 
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.weathericon{
    font-size: 82px;
}

.description{
  padding-top: 20px;
}

.temp{
  font-size: 60px;
  padding-bottom: 30px;
}
.degrees{
  font-size: 82px;
  margin-left: -30px;
  margin-bottom: -10px;
}
.weathercard{
  border:2px solid;
  border-radius:4px;
  margin-top:25px;
  background-color: #982222;

}
.weathercard:hover{
  opacity:0.7;
  cursor:pointer;
}
.weathercard > .row{
  text-align: center;
}
.nopadding{
  margin: 0px !important;
  padding: 0px !important;
}
.radiocontainer{
  top:250px;
}
