<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-12 title">
				<h1>Current Weather</h1>
			</div>
			<div class="col-xs-12 tempselector">
				<div class="btn-group" ng-model="temp.unit" bs-radio-group>
					<label class="btn btn-default" value="true">
				    	<input type="radio" value="0" > Fahrenheit
					</label>
					<label class="btn btn-default">
				    	<input type="radio" value="1"> Celcius
					</label>
				</div>
			</div>
			<div class="col-xs-12 addcityform">
				<form class="form-inline" ng-submit="submit()" role="form" autocomplete="off"> 
					<div class="form-group">
					    <input type="text" class="form-control" ng-model="selectedCity" data-min-length="3" ng-options="city.name for city in typeList" placeholder="Add another city" name="text" bs-typeahead>
					    <button type="submit" class="btn btn-default" id="submit">Add Card</button>
					</div>
				</form>
				<p id="error">{{controller.error}}</p>
			</div>
		</div>	
	</div>
	<div class="row cardcontainer text-center">
		<div class=" col-sm-4  col-md-5 weathercard fadeIn" ng-repeat="city in controller.cityWeatherArray track by $index" id="{{city.concatCityName}}">
			<div class="col-xs-12 name">
				<h1>{{city.cityName}}, {{city.countryName}}</h1>
				<span class="remove" ng-click="controller.remove($index)"><i class="fa fa-times-circle"></i></span>
			</div>
			<div class="row nopadding">
				<div class="col-xs-6 weathericon">
					<div class="col-xs-12">
						<span ng-if="city.weatherID == '01d' || city.weatherID=='01n' " class="icon-sun"></span>
						<span ng-if="city.weatherID == '02d' || city.weatherID=='02n' " class="icon-cloud-sun-1"></span>
						<span ng-if="city.weatherID == '03d' || city.weatherID=='03n' " class="icon-cloud"></span>
						<span ng-if="city.weatherID == '04d' || city.weatherID=='04n' " class="icon-cloud"></span>
						<span ng-if="city.weatherID == '09d' || city.weatherID=='09n' " class="icon-rain"></span>
						<span ng-if="city.weatherID == '10d' || city.weatherID=='10n' " class="icon-rain"></span>
						<span ng-if="city.weatherID == '11d' || city.weatherID=='11n' " class="icon-flash-outline"></span>
						<span ng-if="city.weatherID == '13d' || city.weatherID=='13n' " class="icon-snow-1"></span>
						<span ng-if="city.weatherID == '50d' || city.weatherID=='50n' " class="icon-wind"></span>	
					</div>
					<div class="col-xs-12 description">
						<h3>{{city.weather}}</h3>
					</div>
				</div>
				<div class="col-xs-6 ">
					<h2>
						<span class="temp" ng-if="temp.unit === 1">
							{{city.temp.celcius}}
							<i  class="icon-celcius degrees"></i>
						</span>
						<span class="temp" ng-if="temp.unit === 0">
							{{city.temp.fahrenheit}}
							<i class="icon-fahrenheit degrees"></i>
						</span>
						
					</h2>
				</div>
			</div>
		</div>	
	</div> <!-- row -->
</div> <!-- container -->





